.blueBgColor{
  background-color: #3498DB;
}
.singleEmp{
  border-bottom-style: inset;
  border-color: #78d9af;
}
.Heading{
  color: #caeadc;
  font-size: 26px;
  font-variant: small-caps;
  padding:20px
}
.companyName{
  font-size: 20px;
  color: white;
}
.titleName{
  color: white;
    font-size: 16px;
    margin-left: 5px
}
.descriptionWell{
  padding: 30px;
color: white;
font-size: 18px;
}
.singleEmp{
  border-bottom-style: inset;
  border-color: #78d9af;
}
